<app-branding-bar (logoClick) = "goBackToHome($event)" ></app-branding-bar>

<div class= " siteContainer">
   <button *ngIf="checkParentNode()" type="button" class="btn btn-light marginLeft20" (click)="goToBack()">
        <i class="fa fa-chevron-left"></i>
        <span class="margin10">Go back to {{parentName}}</span>
   </button>
      <div class="containerFlex">
  <div *ngFor="let node of nodes" (click)="updateNodes(node)">
    <img [src] = "node.icon" width="300" >
    <div class="containerFlex">
      <div><label>{{node.name}}</label></div>
      <div><label>{{node.description}}</label></div>
    </div>
  </div>
</div>
</div>